<ion-header >
  <ion-toolbar color="secondary" >
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header><!-- style="--background: url('assets/driverbg.jpg') top center/100% 100% no-repeat" -->
<ion-content padding  style=" background:url('assets/driverbg.jpg') center/100% 100%  no-repeat; --background:transparent;">
<ion-card style="margin-top:5%; box-shadow: none; ">
  <ion-card-header>
    <ion-card-subtitle text-center>
        <img src="assets/driverlogo.png" style="width:auto;display:inline-block;">
      </ion-card-subtitle>
    <ion-card-title text-center style="font-size: 24px; font-weight: bold; color: #fff;">GoEasy Driver</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div *ngIf="showmobilenumber">
        <ion-item style="--background: #183a51;color:#fff;--border-color: #183a51">
            <!-- <ion-label position="stacked">Mobile Number</ion-label> -->
            <ion-icon name="phone-portrait" style="color: #fff;"></ion-icon>
            <ion-input  [(ngModel)]="mobilenumber" placeholder="Enter 10-digit Mobile Number" type="number"  (keyup)="getvalidmobileno($event)" ></ion-input>
          </ion-item>
          <ion-button expand="block" (click)="sendotp()" color="secondary" style="margin-top: 10px;">Send OTP</ion-button>

    </div>
  <div *ngIf="showotpblock">
     <ion-item style="--background: #183a51;color: #fff; margin-top: 10px;--border-color: #183a51" >
        <ion-icon name="phone-portrait"  style="color: #fff;"></ion-icon>
        <ion-input  [(ngModel)]="optnumber" placeholder="Enter OTP" type="text" (keyup)="getvalidOTP($event)" ></ion-input>
      </ion-item>        
      <ion-button expand="block" (click)="login()" color="secondary" style="margin-top: 10px;">Login</ion-button>
      <p (click)="resendOTP()" style="text-decoration: underline;color: #fff; text-align: center;margin-top: 30px; cursor: pointer; ">Resend OTP</p>
  </div>
  </ion-card-content>
</ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar style="--padding-top:0;--padding-bottom:0;--padding-start:0;--padding-end:0;" color="secondary">
      <ion-grid style="padding: 0;">
          <ion-row style="padding: 0;">
              <ion-col   style="padding: 0;" text-center>
                  Ver - {{globals.appversion}}
              </ion-col>
          </ion-row>
      </ion-grid>
  </ion-toolbar>
</ion-footer>
