<ion-app>
  <ion-split-pane>
    <ion-menu>
      <ion-header >
        <ion-toolbar  color="primary">
          <div style="text-align: center; padding: 10px 0;"><p style="padding: 0; margin:0;"><ion-icon name="contact" style="font-size: 48px;"></ion-icon></p>{{globals.displayname}}  <br>
            {{globals.mobilenumber}}</div>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
          <ion-menu-toggle auto-hide="false"><!--[routerLink]="['/login']"-->
            <ion-item [routerDirection]="'root'"  (click)=reset()> 
                <ion-icon slot="start" name="power"></ion-icon>
                <ion-label>
                    Logout
                </ion-label>
            </ion-item>
        </ion-menu-toggle>
        </ion-list>
      </ion-content>
      <ion-footer>
        <ion-toolbar style="--padding-top:0;--padding-bottom:0;--padding-start:0;--padding-end:0;" color="primary">
            <ion-grid style="padding: 0;">
                <ion-row style="padding: 0;">
                    <ion-col   style="padding: 0;" text-center>
                        Ver - {{globals.appversion}}
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
