
<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>
        QR Scan Page
      </ion-title>
     <!--  <ion-buttons slot="end">
          <ion-icon name="home" slot="icon-only" routerLink="/home"></ion-icon>
        </ion-buttons> -->
        <ion-buttons slot="end" (click)="Enablelight()">
                <ion-icon name="flashlight" slot="icon-only"></ion-icon>
          </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content [class.show-qr-scanner]="isOn" style="background: none transparent;" >
    <ion-card text-center style="position: absolute;top:40%; background:#005486; color:#fff;">
    <h4 >Hint :</h4>
   <p><b>Start Scan -</b> To Start Qr scanner and Scan each employees  QR Code one by one and Accept Message will be displayed after every successfull scan. </p>
   <p><b>Stop Scan -</b> To Stop Qr scanner</p>
</ion-card>
</ion-content>
<ion-footer>   
    <ion-grid style="padding: 0;">
        <ion-row style="padding: 0;">
          
            <ion-col style="padding: 0;">
                <ion-button expand="full"  color="secondary" style="--margin-top:0;--margin-bottom:0; margin: 0; height: 48px" (click)="stopQRscanning()" >Stop Scan</ion-button>
            </ion-col> 
            <ion-col style="padding: 0;">
                <ion-button expand="full" color="primary" style="--margin-top:0;--margin-bottom:0; margin: 0; height: 48px" (click)="getQRScan()">Start Scan</ion-button>
            </ion-col>           
        </ion-row>
    </ion-grid>
  </ion-footer>