<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
  <ion-toolbar text-center color="secondary" style="--min-height:30px;">
      <ion-title style="color: #fff; font-size:16px;--min-height:30px;">Date : {{tripdate}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>  
    <ion-row> 
        <!--  <ion-col size="12" text-center color="secondary" style="background: #2875a9;">
             <div style="color: #fff;">Date : 04-Jul-2019</div> 
         </ion-col> -->         
     </ion-row>
     
    <div *ngIf="showtrips">
        <ion-card *ngFor="let item of listoftrips; let i = index" (click)="detailview(item)">   
            <ion-row [ngStyle]="{'background': getrowColor(item.TripStatus)}"> <!-- style="background: #ffa3a3;"background: #9d5b5b; -->
            <ion-col size="2"   [ngStyle]="{'background':geticonColor(item.TripStatus)}" style=" color: #fff; text-align:center; "><ion-icon name="pin" style="font-size:32px;"></ion-icon></ion-col>
            <ion-col size="10" style="line-height: 34px;font-weight: bold; padding-left: 10px; color: #555;">{{item.RequestFor}} - {{item.NodalPoint}} - {{item.RouteNumber}}  <span style="float: right;"> {{item.LogInOut}}</span></ion-col>           
          </ion-row>
        </ion-card>
      </div>
      <div *ngIf="shownotrip">
       <ion-card  style="background: #005486; text-align: center; color: #fff;">
        <img src="assets/navigator.png" style="width:100px;margin: auto; margin-top:30px;">
        <h3>No Trip Today</h3>
       </ion-card>
      </div>
        <!--  <ion-card (click)="detailview()">   
            <ion-row style="background: #ffa3a3;">
              <ion-col size="2"  style=" background: #9d5b5b; color: #fff; text-align:center; "><ion-icon name="pin" style="font-size:32px;"></ion-icon></ion-col>
              <ion-col size="10" style="line-height: 34px;font-weight: bold; padding-left: 10px; color: #555;">Pickup- Perungalathur - P12  <span style="float: right;"> 8:00am</span></ion-col>           
            </ion-row>
          </ion-card>
           <ion-card (click)="detailview()">    
          <ion-row style="background: #f3f3f3;"> 
          <ion-col size="2"  style="background: #63a5d2; color: #fff; text-align:center; "><ion-icon name="pin" style="font-size:32px;"></ion-icon></ion-col>
          <ion-col size="10" style="line-height: 34px;font-weight: bold; padding-left: 10px;  color: #555;">Drop - Pallikaranai - D22 <span style="float: right;">2:30pm</span></ion-col>           
        </ion-row>
      </ion-card>
      <ion-card (click)="detailview()">    
        <ion-row style="background: #f3f3f3;"> 
        <ion-col size="2"  style="background: #63a5d2; color: #fff; text-align:center; "><ion-icon name="pin" style="font-size:32px;"></ion-icon></ion-col>
        <ion-col size="10" style="line-height: 34px;font-weight: bold; padding-left: 10px;  color: #555;">Pickup - Pallikaranai - P22 <span style="float: right;">5:00pm</span></ion-col>           
      </ion-row>
    </ion-card> 
      <ion-card (click)="detailview()">   
        <ion-row style="background: #bfd7ad;"> 
        <ion-col size="2"  style="background: #849776; color: #fff; text-align:center; "><ion-icon name="pin" style="font-size:32px;"></ion-icon></ion-col>
        <ion-col size="10" style="line-height: 34px;font-weight: bold; padding-left: 10px;  color: #555;">Pickup - Medavakkam - P09 <span style="float: right;">8:00pm</span></ion-col>           
      </ion-row>
    </ion-card>  -->
   <!--  <ion-tabs>
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="Home">
          <ion-icon name="home"></ion-icon>
          <ion-label>Home</ion-label>
        </ion-tab-button>    
        <ion-tab-button tab="speakers">
          <ion-icon name="qr-scanner"></ion-icon>
          <ion-label>Scan QR code</ion-label>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs> -->
</ion-content>
